@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Tektur:wght@600&display=swap'); /* Raleway - Tektur */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    height: 100vh;
    width: 100%;
    background-color: rgb(17, 17, 17);
    overflow: hidden;

}
.tool{
    padding: 5px;
    display: flex;
    height: 10vh;
    width: 100%;
    margin: autos;
    align-items: center;
}
.userpic{
    height: 52px;
    width: 52px;
    margin-right: 20px;
}
.welcompic{
    height: 80px;
    width: 90px;
    margin-left: 20px;
}
nav {
    flex: 1;
    margin-left: 85px;
}
nav ul li{
    display: inline-block;
    margin: 0px 45px;
}

nav ul li a {
    font-size: 21px;
    font-family:monospace;
    text-decoration: none;
    font-weight: bolder;
    color: #7c047c;
}
nav ul li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  nav ul li a:hover:after {
    width: 100%;
    background: #7c047c;
  }
  @keyframes userAnime {
    from{
        transform: translateX(-800px);
    }
    to{
        transform: translateX(0px);
    }
  }
  @keyframes Upanime {
    from{
        transform: translateY(800px);
    }
    to{
        transform: translateY(0px);
    }
  }
  @keyframes Ranime {
    from{
        transform: translateX(500px);
    }
    to{
        transform: translateX(0px);
    }
  }
  @keyframes Oanime {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
  }
  .UA{
    animation: userAnime 2s ease-in-out;
  }
  .UP{
    animation: Upanime 1s ease-in-out;
  }
  .RT{
    animation: Ranime 2s ease-in-out;
  }
  .OP{
    animation: Oanime 2s ease-in-out;
  }
  .section_container{
    height: 80vh;
    width: 100%;
    margin: 2px;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: center;
  }
.section1 , .section2{
    height: 99.5%;
    width: 49%;
    margin-top: 20px;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centers;
    margin-top: 100px;
}
.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.betw{
    margin-top: 60px;
    height: 80%;
    width: 0.2%;
    background-color:#7c047c ;
    border-radius: 10px;
}
.title{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.t1{
    font-size: 50px;
    letter-spacing: 12px;
    color: #7c047c99;
    font-family:Tektur ;
    margin: 3px;
}
.t2{
    font-size: 60px;
    letter-spacing: 12px;
    color: #7c047c;
    font-family:Tektur ;
    margin: 3px;
}
.skull{
    margin-top: 0px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.social{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}
.socialp{
    height: 40px;
    width: 40px;
}
.socialp:hover{
    filter:saturate(10);
    cursor: pointer;
}
.hide{
    opacity: 0;
}
.c2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    align-items: center;
}
.text_container{
    height: 25vh;
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #7c047c,
    -2px 2px 6px #7c047c,
    -2px -2px 6px #7c047c,
    2px -2px 6px #7c047c;
    overflow: hidden;
}
.text_container p{
    color: #7c047c;
    font: weight 600px;
    font-family:raleway;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 2.4;
    position: relative;
}
.box_container{
    height: 30vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
}
.box1,.box2,.box3{
    height: 85%;
    width: 32%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #7c047c,
    -2px 2px 6px #7c047c,
    -2px -2px 6px #7c047c,
    2px -2px 6px #7c047c;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_container h1 {
    color: #7c047c;
    font-family: Tektur;
    font-weight: bolder;
    font-size: 40px;
}